* {
    font-family: 'Times New Roman', Times, serif;
}

#header {
    background-color: rgb(238, 139, 139);
    color: rgb(34, 30, 30);
    font-size: 48px;
    font-weight: 700;
}

.recipes {
    background-color: rgb(255, 188, 188);
    font-size: 26px;
    font-weight: 550;
}

#header,
.recipes {
    text-align: center;
}